@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-Black: hsl(0, 0%, 8%);
}

html {
  font-size: 10px;
}

body {
  font-family: "Epilogue", "Arial", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Start Header */

header {
  width: 100%;
  background-color: var(--almost-white);
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0 1.5rem;
}
@media (min-width: 820px) {
  header .container {
    justify-content: start;
    height: 9rem;
    padding: 0 4.5rem;
  }
}

header .logo img {
  max-width: 100%;
  width: 11rem;
  margin-top: 0.8rem;
  cursor: pointer;
  min-width: 8rem;
}

header nav,
header nav .navbar,
header nav .btns {
  display: flex;
  flex-direction: column;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--almost-white);
  height: 100vh;
  /* display: none; */
  width: 250px;
}

@media (min-width: 820px) {
  header nav {
    justify-content: space-between;
    width: 100%;
    margin-left: 5.5rem;
    flex-direction: row;
  }
}
header nav .close {
  align-self: flex-end;
  margin: 2rem;
}

header nav .navbar > li {
  height: 100%;
  align-items: center;
  width: 100%;
}
header nav a {
  font-size: 1.6rem;
  color: var(--medium-gray);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header nav a:hover {
  color: var(--almost-Black);
}

header nav .navbar li > a {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding-left: 2.5rem;
}

header nav .navbar li > a svg {
  margin-left: 0.9rem;
  transform-origin: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header nav a:hover {
  color: var(--almost-Black);
}

header nav .navbar li {
  position: relative;
}

header nav .navbar > li:last-child {
  padding: 2.5rem 0;
}

header nav .navbar li > a:hover svg path {
  stroke: var(--almost-Black);
}
header nav .navbar li > a.rotate svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

header nav .dropdown {
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  padding: 0 1rem;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  overflow: hidden;
  height: 0;
  padding: 2.5rem 0 0 2.5rem;
}

header nav .dropdown.expand {
  padding: 2.5rem 0 2.5rem 2.5rem;
  height: 100%;
}

/* header nav .navbar li:first-child:hover .dropdown,
header nav .navbar li:nth-child(2):hover .dropdown {
  top: 4.5rem;
  opacity: 1;
  z-index: 10;
} */

/* header nav .navbar li:first-child .dropdown {
  right: 3.5rem;
} */

header nav .dropdown li a {
  padding: 1rem;
  display: flex;
  width: 100%;
}

header nav .dropdown li a img {
  margin-right: 2rem;
}

header .burger {
  cursor: pointer;
}
@media (min-width: 820px) {
  header .burger {
    display: none;
  }
}

header nav .btns {
  text-align: center;
  margin-top: 2.5rem;
}

header nav .btns a {
  align-items: flex-start;
}

header nav .btns a.register {
  padding: 1.3rem 2.5rem;
  border: 2px solid var(--medium-gray);
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  margin: 2.5rem;
}

header nav .btns a.register:hover {
  border-color: var(--almost-Black);
}

@media (min-width: 820px) {
  header nav .navbar,
  header nav .btns {
    align-items: center;
  }
}

/* End Header */
/* Start Hero */
main {
  height: calc(100vh - 7rem);
  background-color: var(--almost-white);
}
@media (min-width: 720px) {
  main {
    height: calc(100vh - 10rem);
  }
}
.hero {
  display: flex;
  flex-direction: column;
}

@media (min-width: 720px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    padding: 6.5rem 0;
    width: max(680px, 80%);
    align-items: flex-end;
  }
}

.hero .hero-img .desktop {
  display: none;
  max-width: 100%;
  width: 470px;
  margin-left: auto;
}

.hero .hero-img .mobile {
  max-width: 100%;
}

@media (min-width: 720px) {
  .hero .hero-img {
    width: 45%;
  }
  .hero .hero-img .desktop {
    display: block;
  }
  .hero .hero-img .mobile {
    display: none;
  }
}

.hero .info {
  text-align: center;
  padding: 0 1rem;
}
@media (min-width: 720px) {
  .hero .info {
    text-align: start;
    width: 45%;
  }
}

.hero .info h1 {
  font-size: 3rem;
  margin-top: 3.7rem;
}
@media (min-width: 720px) {
  .hero .info h1 {
    font-size: calc(4vw + 1rem);
  }
  .hero .info h1 span {
    display: block;
  }
}
.hero .info p {
  font-size: 1.6rem;
  color: var(--medium-gray);
  line-height: 1.5;
  margin: 1.5rem 0;
}
@media (min-width: 720px) {
  .hero .info p {
    margin: 3.6rem 0;
    max-width: 424px;
  }
}
.hero .info button {
  font-size: 1.6rem;
  border: none;
  background-color: var(--almost-Black);
  color: var(--almost-white);
  font-weight: 700;
  padding: 1rem 1.7rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  cursor: pointer;
  margin-bottom: 3.7rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 2px solid var(--almost-Black);
}
@media (min-width: 720px) {
  .hero .info button {
    margin-bottom: 8.5rem;
    padding: 1.3rem 2.5rem;
  }
}
.hero .info button:hover {
  background-color: var(--almost-white);
  color: var(--almost-Black);
}

.hero .info .clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 720px) {
  .hero .info .clients {
    width: 90%;
  }
}
.hero .info .clients img {
  width: 6.5rem;
}
.hero .info .clients img:nth-child(2) {
  width: 5rem;
}
@media (min-width: 720px) {
  .hero .info .clients img {
    width: 8rem;
    margin-right: 1.2rem;
  }
  .hero .info .clients img:nth-child(2) {
    width: 6rem;
  }
}
/* End Hero */
